/* Main style sheet */

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

#myBio {
  font-size: large;
}

h1 {
    font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}