/* Main style sheet */

body {
    background-color: black;
    font-family: 'Roboto';
    color: whitesmoke;
}

#myBio {
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}

h1 {
    font-weight: bold;
}

.footer {
  position: fixed;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  font-size: smaller;
}

@media screen and (max-width:460px){
  footer {
    display: none;
  }
}