/* Main style sheet */

body {
    background-color: black;
    font-family: 'Roboto';
    color: whitesmoke;
    margin-bottom: 60px;
}

#myBio {
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}

h1 {
    font-weight: bold;
}

.footer {
  background-color: grey;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
};